name: voice_notes_plus
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  speech_to_text: ^7.3.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  permission_handler: ^12.0.0
  intl: ^0.19.0
  share_plus: ^10.0.0
  path_provider: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
